/* requirement-colors */
:root{
    --color1: #22577A;
    --color2: #38A3A5;
    --color3: #57CC99;
    --color4: #80ED99;
    --color5: #C7F9CC;
    --color6: #ffffff;
    --color7: #000000;
}
/* universal selector */
*{
    margin: 0px;
    padding: 0px;
}
/* ------------------------header section*/
.header{
    background-color: var(--color2) ;
}
/* --------navbar */
.menu-item{
    list-style-type: none;
    margin: 15px;
    padding-right: 40px;
}
.anchor{
    text-decoration: none;
    color: var(--color6);
}
.anchor:active{
    color: var(--color4);
}
.nav-menu{
    display: flex;
    margin-left: 600px;
}
.nav-bar{
    display: flex;
}
/* --------image/logo */
.nav-logo{
    font-size: 30px;
    padding: 4px 0px 0px 30px;;
}
.logo-p{
    color: var(--color6);
}
/* ------------------------hero section*/
.hero{
    height: 500px;
    background-color: var(--color3);
}



